# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ALLOWED_EMAILS=user1@gmail.com,user2@gmail.com

# Database
DATABASE_URL=

# Grok Voice
XAI_API_KEY=
SESSION_TTL_SECONDS=300
